In [1]:
import pandas as pd

https://simplemaps.com/data/world-cities

In [2]:
city_file = '../data/worldcities.csv'
city_df = pd.read_csv(city_file,encoding='utf-8')

In [3]:
city_df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
...,...,...,...,...,...,...,...,...,...,...,...
40996,Tukchi,Tukchi,57.3670,139.5000,Russia,RU,RUS,Khabarovskiy Kray,NaN,10.0,1643472801
40997,Numto,Numto,63.6667,71.3333,Russia,RU,RUS,Khanty-Mansiyskiy Avtonomnyy Okrug-Yugra,NaN,10.0,1643985006
40998,Nord,Nord,81.7166,-17.8000,Greenland,GL,GRL,Sermersooq,NaN,10.0,1304217709
40999,Timmiarmiut,Timmiarmiut,62.5333,-42.2167,Greenland,GL,GRL,Kujalleq,NaN,10.0,1304206491
41000,Nordvik,Nordvik,74.0165,111.5100,Russia,RU,RUS,Krasnoyarskiy Kray,NaN,0.0,1643587468

In [4]:
capital_china = city_df[(city_df['country']=='China') & (city_df['capital'] is not None)]
capital_china

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
5,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22120000.0,1156073548
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,20902000.0,1156237133
10,Beijing,Beijing,39.9050,116.3914,China,CN,CHN,Beijing,primary,19433000.0,1156228865
17,Shenzhen,Shenzhen,22.5350,114.0540,China,CN,CHN,Guangdong,minor,15929000.0,1156158707
29,Nanyang,Nanyang,32.9987,112.5292,China,CN,CHN,Henan,NaN,12010000.0,1156192287
...,...,...,...,...,...,...,...,...,...,...,...
40725,Taoyan,Taoyan,34.7706,103.7903,China,CN,CHN,Gansu,NaN,5329.0,1156019900
40744,Jingping,Jingping,33.7844,104.3652,China,CN,CHN,Gansu,NaN,5149.0,1156005145
40776,Dayi,Dayi,33.8312,104.0362,China,CN,CHN,Gansu,NaN,5114.0,1156108713
40782,Biancang,Biancang,33.9007,104.0321,China,CN,CHN,Gansu,NaN,5040.0,1156724811
40938,Nichicun,Nichicun,29.5333,94.4167,China,CN,CHN,Tibet,NaN,100.0,1156860651

In [5]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

C:\Users\renb\PycharmProjects\weather_dashapp\weather_book

In [6]:
from weather_app.models.query_api import get_geo_from_city,generate_url,request_weather_info,transform_weather_raw,add_city_info

In [7]:
city_info = capital_china.iloc[0,:].to_dict()
city_info

{'city': 'Shanghai',
 'city_ascii': 'Shanghai',
 'lat': 31.1667,
 'lng': 121.4667,
 'country': 'China',
 'iso2': 'CN',
 'iso3': 'CHN',
 'admin_name': 'Shanghai',
 'capital': 'admin',
 'population': 22120000.0,
 'id': 1156073548}

https://github.com/spyoungtech/grequests

In [8]:
city = city_info['city']
lon = city_info['lng']
lat = city_info['lat']
url = generate_url(longitude=lon,latitude=lat)
text_j = request_weather_info(url)
weather_info_df = transform_weather_raw(text_j)
weather_info_df = add_city_info(weather_info_df,lon,lat,city)
weather_info_df

,cloudcover,lifted_index,prec_type,prec_amount,temp2m,rh2m,weather,timestamp,wind_direction,wind_speed,longitude,latitude,city
0,9,15,rain,1,4,70,lightrainday,2022-02-02 09:00:00,NE,3,121.4667,31.1667,Shanghai
1,9,15,rain,2,3,95,lightrainnight,2022-02-02 12:00:00,NE,3,121.4667,31.1667,Shanghai
2,9,15,rain,2,3,92,lightrainnight,2022-02-02 15:00:00,NE,3,121.4667,31.1667,Shanghai
3,9,15,rain,2,3,87,lightrainnight,2022-02-02 18:00:00,N,3,121.4667,31.1667,Shanghai
4,9,15,rain,2,4,81,lightrainnight,2022-02-02 21:00:00,NE,3,121.4667,31.1667,Shanghai
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,9,15,rain,4,4,75,rainnight,2022-02-09 18:00:00,N,3,121.4667,31.1667,Shanghai
60,9,15,none,4,4,72,cloudynight,2022-02-09 21:00:00,N,3,121.4667,31.1667,Shanghai
61,6,15,none,4,4,67,mcloudyday,2022-02-10 00:00:00,NW,3,121.4667,31.1667,Shanghai
62,2,15,none,4,5,36,clearday,2022-02-10 03:00:00,NW,2,121.4667,31.1667,Shanghai
63,2,15,rain,4,4,30,rainday,2022-02-10 06:00:00,NW,2,121.4667,31.1667,Shanghai

In [10]:
from tqdm.notebook  import tqdm
all_cities_df = pd.DataFrame()
for index,city_info in tqdm(capital_china.iloc[0:20,:].iterrows()):
    city = city_info['city']
    print(city)
    lon = city_info['lng']
    lat = city_info['lat']
    url = generate_url(longitude=lon,latitude=lat)
    text_j = request_weather_info(url)
    weather_info_df = transform_weather_raw(text_j)
    weather_info_df = add_city_info(weather_info_df,lon,lat,city)
    all_cities_df = pd.concat([all_cities_df,weather_info_df],axis=0)

0it [00:00, ?it/s]

Shanghai
Guangzhou
Beijing
Shenzhen
Nanyang
Baoding
Chengdu
Linyi
Tianjin
Shijiazhuang
Zhoukou
Handan
Weifang
Wuhan
Heze
Ganzhou
Tongshan
Changsha
Fuyang
Jining

In [11]:
all_cities_df.head()

,cloudcover,lifted_index,prec_type,prec_amount,temp2m,rh2m,weather,timestamp,wind_direction,wind_speed,longitude,latitude,city
0,9,15,rain,1,3,91,lightrainnight,2022-02-02 15:00:00,NE,3,121.4667,31.1667,Shanghai
1,9,15,rain,2,3,86,lightrainnight,2022-02-02 18:00:00,N,3,121.4667,31.1667,Shanghai
2,9,15,rain,2,3,80,lightrainnight,2022-02-02 21:00:00,NE,3,121.4667,31.1667,Shanghai
3,9,15,rain,2,4,68,lightrainday,2022-02-03 00:00:00,NE,3,121.4667,31.1667,Shanghai
4,8,15,none,2,5,54,cloudyday,2022-02-03 03:00:00,NE,3,121.4667,31.1667,Shanghai